@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-3">Movies</h2>

<p>
    @Html.ActionLink("New Movie", actionName: "New", controllerName: "Movies", null, new {@class="btn btn-primary"})
</p>

<table class="table table-bordered table-hover" id="movies-table">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    
    <tbody></tbody>
</table>

<!-- 
    - We will use JQuery to handle the function of the Delete customer button (client side).
    - jQuery is a lightweight, "write less, do more", JavaScript library.
-->
@section Scripts
{
    <script>
        $(document).ready(function() {
            
            // Display movie table as a Functional table with DataTables library
            var movieDataTable = $("#movies-table").DataTable({
                // Send JSON data (instead of MARKUP data) to DataTables to display
                ajax: {
                    url: "/api/movies/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name",
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    },
                ]
            });

            // Hanlde Delete button
            $('#movies-table').on("click", ".js-delete", function() {
                var button = $(this);

                if (confirm("Are you sure you want to delete this movie?")) {
                    $.ajax({
                        url: "/api/movies/" + button.attr("data-movie-id"),
                        type: "DELETE",
                        success: function () {
                            movieDataTable.row(button.parents("tr")).remove().draw();
                        }
                    })
                }
            })
        })
    </script>
}