@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-hover" id="customers-table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Discount Rate</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, actionName: "Edit", controllerName: "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>
                        <button class="btn btn-link js-delete" data-customer-id="@customer.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- 
    - We will use JQuery to handle the function of the Delete customer button (client side).
    - jQuery is a lightweight, "write less, do more", JavaScript library.
-->
@section Scripts
{
    <script>
        $(document).ready(function() {
            $('#customers-table').on("click", ".js-delete", function() {
                var button = $(this);

                if (confirm("Are you sure you want to delete this customer?")) {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        type: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    })
                }
            })
        })
    </script>
}
